name: RR Conventional Commit Validation

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
       - name: RR Conventional Commit Validation
         uses:  ytanikin/PRConventionalCommits@v1.0.0
         with:
           task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert"]'
           add_label: 'false'
